body {
  background-color: #1f2937;
  width: 451px;
  margin: 100px auto;
}

#g-text,
#gp-text {
  color: #ffffff;
}

#r-text {
  color: #a78bfa;
}

#g-text,
#r-text {
  font-family: "Karla", sans-serif;
  font-size: 40px;
  line-height: 38px;
  letter-spacing: -0.025em;
}

#n-text,
.num-sym {
  color: #d5d4d8;
}

.num-sym {
  display: flex;
  padding-top: 25px;
}

#length {
  width: 39px;
}

#generate-button {
  margin-top: 65px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border: none;
  padding: 0px 10px;
}

.line {
  margin: 35px auto;
  border: 1px solid #2f3e53;
}

.password-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#pw-box-1,
#pw-box-2 {
  text-align: center;
  background-color: #273549;
  width: 211px;
  line-height: 8px;
  color: #a78bfa;
  padding-bottom: 5px;
}

#generate-button,
#pw-box-1,
#pw-box-2,
.password-boxes img {
  border-radius: 10px;
}

#n-text {
  position: absolute;
  top: 170px;
}

#gp-text,
#n-text,
#pw-box-1,
#pw-box-2,
.num-sym {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.password-boxes img {
  display: none;
  padding: 3px;
  margin: auto;
}

.password-boxes img,
#generate-button {
  background-color: #7c3aed;
}

img:hover,
#generate-button:hover {
  background-color: #5b21b6;
  cursor: pointer;
}