body {
  background-color: #1f2937;
  width: 451px;
  margin: 100px auto;
}

#g-text {
  color: #ffffff;
}

#r-text {
  color: #a78bfa;
}

#g-text,
#r-text {
  font-family: "Karla", sans-serif;
  font-size: 40px;
  line-height: 38px;
  letter-spacing: -0.025em;
}

#n-text {
  color: #d5d4d8;
}

#generate-button:hover {
  background-color: #6d28d9;
}

#generate-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 17px 9px 15px;
  margin-top: 50px;
  background-color: #7c3aed;
  width: 191px;
  height: 42px;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

#gb-text {
  color: #ffffff;
}

.line {
  margin: 35px auto;
  border: 1px solid #2f3e53;
  width: 446px;
  height: 0px;
  left: 52px;
  top: 361px;
}

.password-boxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#pw-box-1,
#pw-box-2 {
  text-align: center;
  background-color: #273549;
  width: 211px;
  height: 39px;
  border-radius: 6px;
  line-height: 8px;
  color: #a78bfa;
}

#gb-text,
#n-text,
#pw-box-1,
#pw-box-2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
